[Unit]
Description=sets battery thresholds

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/conf.d/tpacpi
ExecStart=/usr/bin/tpacpi-bat -s ST $BATTERY $START_THRESHOLD
ExecStart=/usr/bin/tpacpi-bat -s SP $BATTERY $STOP_THRESHOLD
ExecStop=/usr/bin/tpacpi-bat -s ST $BATTERY 0
ExecStop=/usr/bin/tpacpi-bat -s SP $BATTERY 0

[Install]
WantedBy=multi-user.target
