[Unit]
Description=sets battery thresholds

[Service]
Type=oneshot
ExecStart=/usr/bin/tpacpi-bat startChargeThreshold 0 40
ExecStart=/usr/bin/tpacpi-bat stopChargeThreshold 0 80

[Install]
WantedBy=multi-user.target


